.page-wrapper {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./mount2.jpg);
  background-size: cover;
}
.center-flex {
  display: flex !important;
  justify-content: center !important;
}
.center-flex-column {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  padding: 10px;
}
